* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
}

section {
    min-width: 500px;
    display: flex
}

/*/=========FirstSlide=========/*/

.first-slide {
    background: url("../images/greygirlbg.png") center/50% 100% no-repeat;
    width: 100%;
    min-height: 800px;
    justify-content: center;
    align-items: center
}

.pain, .pain2 {
    background: url("../images/pain.png") center/50% 100% no-repeat;
    width:150px;
    height:100px;
    z-index:5;
    position:relative;



    -webkit-animation: pain 1s ease-in-out infinite alternate;
    animation: pain 1s ease-in-out infinite alternate;
}

@keyframes pain {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
    }
}


/*/=========SecondSlide=========

.anim-balls {
  text-align: center;
}
.anim-balls ul {
  text-align: center;
  list-style: none;
}
.anim-balls ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  display: inline-block;
  margin: 0 5px;
          transform: translateY(-30px);
          animation: drop-balls 1.2s cubic-bezier(0.245, 0.325, 0.51, 1.305)  alternate;
}
.anim-balls ul li:nth-child(1) {
  background: orange;
          animation-delay: 0.6s;
}
.anim-balls ul li:nth-child(2) {
  background: orange;
          animation-delay: 0.7s;
}
.anim-balls ul li:nth-child(3) {
  background: orange;
          animation-delay: 0.8s;
}
.anim-balls ul li:nth-child(4) {
  background: orange;
          animation-delay: 0.6s;
}
.anim-balls ul li:nth-child(5) {
  background: orange;
          animation-delay: 0.6s;
}
.anim-balls ul li:nth-child(6) {
  background: orange;
          animation-delay: 0.7s;
}

@keyframes drop-balls {
  30% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(205px);
            transform: translateY(205px);
  }
  80% {
    -webkit-transform: translateY(190px);
            transform: translateY(190px);
  }
  100% {
    -webkit-transform: translateY(195px);
            transform: translateY(195px);
  }
}